html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

:root {
    --pomodoro: #e63946;
    --shortBreak: #f1faee;
    --longBreak: #1d3557;
}

body {
    background-color: var(--pomodoro);
    transition: background-color 1s ease;
    font-family: 'Lato', sans-serif;
    user-select: none;
}

progress {
    border-radius: 2px;
    width: 100%;
    height: 12px;
    position: fixed;
    top: 0;
}

progress::-webkit-progess-bar {
    background-color: rgba(0, 0, 0, 0.1);;
}

progress::webkit-progress-value {
    background-color: #fff;
}

.timer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    text-align: center;
}

.clock {
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 15rem;
    line-height: 1;
    display: flex;
    align-items: center;
    font-family: 'Lato', sans-serif;
}

.mode-button {
    font-size: 16px;
    height: 28px;
    cursor: pointer;
    box-shadow: none;
    font-weight: 300;
    color: #fff;
    border: 1px solid transparent;
    margin: 0;
    border-radius: 4px;
    padding: 2px 12px;
    background: none;
}